Mobile WebServices JAVA/GameServer/src/META-INF/wsdl/localhost_8080/BankService/GameServerServiceService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-hudson-28-. --><xs:schema xmlns:tns="http://services/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services/">

<xs:element name="GetCredits" type="tns:GetCredits" />

<xs:element name="GetCreditsResponse" type="tns:GetCreditsResponse" />

<xs:element name="closeDB" type="tns:closeDB" />

<xs:element name="closeDBResponse" type="tns:closeDBResponse" />

<xs:element name="init" type="tns:init" />

<xs:element name="initResponse" type="tns:initResponse" />

<xs:element name="updateCoins" type="tns:updateCoins" />

<xs:element name="updateCoinsResponse" type="tns:updateCoinsResponse" />

<xs:complexType name="GetCredits">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0" />
<xs:element name="password" type="xs:string" minOccurs="0" />
<xs:element name="money" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetCreditsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="init">
<xs:sequence />
</xs:complexType>

<xs:complexType name="initResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="closeDB">
<xs:sequence />
</xs:complexType>

<xs:complexType name="closeDBResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateCoins">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateCoinsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>